@charset "UTF-8";

body {
    background-color: #233674;
    font-family: Helvetica, sans-serif;
    color: #ffffff;
}
h1 {
    color: blanchedalmond;
    text-align: center;
}
h1#principal {
    font-size: 3em;
}
h2 {
    color: blanchedalmond;
    text-align: center;
}
p {
    color: blanchedalmond;
    text-align: justify;
}
.basico {
    color: blanchedalmond;
    text-align: center;
}
.intermediario  {
    color: blanchedalmond;
    text-align: center;
}
.avancado {
    color: blanchedalmond;
    background-color: black;
    text-align: center;
}